body{
	background: url(img/background.jpg) no-repeat center center;
	// background-size: 100% 100%;
}
.login {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 0;
		background-color: #fff;
		box-shadow: 0 0 2px rgba(0, 0, 0, 0.2),  
      				0 1px 1px rgba(0, 0, 0, .2),
       				0 3px 15px #fff,
       				0 4px 15px rgba(0, 0, 0, .2),
        			0 6px 15px #fff,  
        			0 7px 15px rgba(0, 0, 0, .2);
		}
.login:before {
		content: '';
		position: absolute;
		top: 5px;
		bottom: 5px;
		left: 5px;
		right: 5px;
		z-index: -1;
		border: 2px dashed #ccc;
		box-shadow: 0 0 0 1px #fff;
	}

h1{
	position: relative;
	margin: 0 0 50px 0;
	color: #666;
	letter-spacing: 6px;
	text-align: center;
	font: normal 26px/1 Verdana, Helvetica;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .7),
				 0px 2px 0 rgba(0, 0, 0, .5);
	}

h1:after,h1:before{
	position: absolute;
	top: 15px;
	content: "";
	height: 2px;
	width: 80px;   
	background-color: #777;
	}

h1:after {      
	right: 0;
	background-image: -webkit-linear-gradient(left, #777, #fff);
}

h1:before {
    background-image: -webkit-linear-gradient(right, #777, #fff);
    left: 0;
}

.user{
	padding:5px 0px 5px 20px;
	size:30px;
	font-size: 20px;
	background: url(img/username.png) no-repeat left center;
	background-size: 15px 15px;
}
.password{
	padding:5px 0px 5px 20px;
	size:30px;
	font-size: 20px;
	background: url(img/password.png) no-repeat left center;
	background-size: 15px 15px;
}
.btn{
	padding: 5px 15px;
	background: orange;
	border-radius: 5px;
	font-size: 20px;
	margin-right: 15px;
}